<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </nav>

    <h1>Company News, Stock Sentiment, and Fundamental Analysis</h1>
    <div class="container">
        <form action="/" method="post">
            <label for="company_name">Enter the company name:</label>
            <input type="text" id="company_name" name="company_name" required placeholder="Company Name">

            <label for="symbol">Enter the stock symbol:</label>
            <input type="text" id="symbol" name="symbol" required placeholder="Stock Symbol">

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
